# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter / notebooks
.ipynb_checkpoints/

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project outputs
*.pdf
*.png
*.jpg
*.jpeg
*.log
