cycler==0.12.1
kiwisolver==1.4.5
matplotlib==3.8.4
numpy==1.26.3
pillow>=10.0.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytorch-ranger==0.1.1
scipy==1.11.4
six==1.16.0
torch==2.2.0
torch-optimizer==0.1.0
typing-extensions==4.8.0
